<ion-header>
  <ion-toolbar>
    <ion-title class="text-left pad15">
      <div><img src="assets/images/ticketsicon.svg" /> Chat</div>

    </ion-title>
    <ion-buttons slot="end" (click)="dismiss()"><ion-icon name="close-outline"></ion-icon></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="p8">
  <ion-spinner  name="dots" style="left: 47%;" *ngIf="data == '' "></ion-spinner>
  <div class="shw-img">
  <img  class="message-image" *ngIf="data?.image!=null && data?.image!=''" src="{{chat_img}}" >

  </div>
 <div class="show">
  <ion-label *ngIf="data?.message!=null">{{data?.message}}</ion-label>
  <span>{{data?.created_at | timeAgo}}</span>
 </div>
</ion-content>