.backbtn1 {
  left: 6px;
    position: relative;
    filter: invert(1);
}

ion-title{
  color: #fff;
}
.edit-image-div {
  position: absolute;
  z-index: 999;
  right: 39%;
  bottom: 202px;
  height: 13px !important;
  width: 27px !important;
}
ion-item{
	--border-color: #eaeaea;
	--highlight-color-focused: var(--ion-color-secondary);
}

ion-item {
  --ion-safe-area-right: 0;
}

.mt45 {
  margin-top: -35px;
    border-radius: 38px;
    background-color: #fff;
    --background: #fff;
    padding-top: 18px;
    position: relative;
    width: 100%;
}

ion-segment{
	background-color: #FAFAFA;
  border:1px solid #E4E4E4;
	border-radius: 100px;
  padding: 6px 10px;
  margin-bottom: 20px;
}

ion-segment-button{
  font-size: 15px;
}

.segment-button-checked
{
  height: 45px;
	border-radius: 100px;
	--indicator-color: none;
    --indicator-height: none;
	background-color: var(--ion-color-secondary);
	span
	{
		color: #fff;
	}
}


ion-segment-button.md{
  font-size: 13px;
}

.resto_detail {
  display: flex;
  flex-direction: row;
  background: #FFFFFF;
  box-shadow: 0px 0px 40px rgba(170, 182, 211, 0.1);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 12px;
  .back_image {
      height: 100px;
      width: 100px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 10px;
      min-width: 100px;

  }

  .res_name {
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    ion-label{
      font-weight: 300;
    }
  }
  .res_location {
      color: #dbdbdb;
      font-size: 14px;
  }
}

.w100{
  margin-left: 10px;
  width: 100%;
  h2{
    font-size: 14px;
    margin: 8px 0 4px;
    font-weight: 500;
  }
  h3{
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 7px 0;
    color: var(--ion-color-primary);
    small{
      font-size: 11px;
      font-weight: 300;
      color: #666666;
    }
  }
}

ion-content {
  position: fixed;
}

.productHeader
{
  --background: transparent;
}

ion-input {
  height: 61px;
  --padding-start: 25px !important;
  input {
    font-size: 15px !important;
  }
}

ion-list {
  margin-bottom: 15px;
  padding:0px;
}

.profileHead
{
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 55px 15px 60px;
  text-align: center;
  position: relative;
  &::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.68);
  }

  .imgbox
  {
    position: relative;
    background-color: #fff;
    border-radius: 100px;
    width: 102px;
    height: 102px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    img{
      height: 80px;
      width: 80px;
      object-fit: cover;
    }
  }


  h2{
    position: relative;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin: 15px 0 3px;

  }
  h3{
    position: relative;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
  }
}

.round1
{
  margin: 0;
  background-color: transparent;
  --color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 100px;
  height: 30px;
  padding: 0 15px;
  font-size: 12px;
  font-weight: 500;
}

.round{
  margin-bottom: 15px;
}
