ion-title{
  font-size: 18px;
}

.mt45
{
  margin-top: 15px;
}

.catlist{
  list-style: none;
  padding-left: 0;
  margin: 0;
  .catbox{
    background-color: #F7F7F7;
    border: 2px solid #EAEAEA;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .catleft {
      display: flex;
      align-items: center;
      .ionbox
      {
        background-color: var(--ion-color-secondary);
        padding: 15px 22px;
        border-radius: 10px;
        margin-right: 10px;
        line-height: 20px;
        text-align: center;
        color: #fff;
        font-weight: 500;
        img{
          width: 28px;
          height: 28px;
          object-fit: contain;
        }
      }
      h3{
        margin: 0;
        font-size: 15px;
        font-weight: 500;
        small{
          font-size: 11px;
          font-weight: 400;
        }
      }
    }

    .catright {
      .catright {
        text-align: center;
      }
      h3{
        margin: 0;
        font-size: 15px;
        margin-top: 9px;
        font-weight: 500;
        margin-left: 7px;
        small{
          font-weight: 400;
          background-color: var(--ion-color-secondary);
          display: block;
          border-radius: 10px;
          text-align: center;
          color: #fff;
          padding: 4px 10px;
          font-size: 13px;
          margin-top: 2px;
        }
      }
    }

  }
}
