<ion-header>
  <ion-toolbar class="productHeader">
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/tab5">
        <img src="assets/images/chevron.svg" />
      </ion-button>
    </ion-buttons>
    <ion-title>My Withdraws</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="p15 mt45">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col>
          <ul class="catlist">
            <li>
              <div class="catbox">
                <div class="catleft">
                  <div class="ionbox">
                    12 <br /> May
                  </div>
                  <h3>
                  Fashion Accessories
                  <br />
                  <small>Transaction ID: #343545</small>
                  </h3>
                </div>

                <div class="catright">
                  <h3>
                    $40.00
                    <br />
                    <small>Active</small>
                  </h3>
                </div>
              </div>
            </li>

            <li>
              <div class="catbox">
                <div class="catleft">
                  <div class="ionbox">
                    12 <br /> May
                  </div>
                  <h3>
                    Automotive Accessories
                  <br />
                  <small>Transaction ID: #343545</small>
                  </h3>
                </div>

                <div class="catright">
                  <h3>
                    $40.00
                    <br />
                    <small>Active</small>
                  </h3>
                </div>
              </div>
            </li>

            <li>
              <div class="catbox">
                <div class="catleft">
                  <div class="ionbox">
                    12 <br /> May
                  </div>
                  <h3>
                    Beauty & Personal Care
                  <br />
                  <small>Transaction ID: #343545</small>
                  </h3>
                </div>

                <div class="catright">
                  <h3>
                    $40.00
                    <br />
                    <small>Active</small>
                  </h3>
                </div>
              </div>
            </li>

            <li>
              <div class="catbox">
                <div class="catleft">
                  <div class="ionbox">
                    12 <br /> May
                  </div>
                  <h3>
                    Nail Art Equipment
                  <br />
                  <small>Transaction ID: #343545</small>
                  </h3>
                </div>

                <div class="catright">
                  <h3>
                    $40.00
                    <br />
                    <small>Active</small>
                  </h3>
                </div>
              </div>
            </li>

            <li>
              <div class="catbox">
                <div class="catleft">
                  <div class="ionbox">
                    12 <br /> May
                  </div>
                  <h3>
                    Automotive Accessories
                  <br />
                  <small>Transaction ID: #343545</small>
                  </h3>
                </div>

                <div class="catright">
                  <h3>
                    $40.00
                    <br />
                    <small>Active</small>
                  </h3>
                </div>
              </div>
            </li>

            <li>
              <div class="catbox">
                <div class="catleft">
                  <div class="ionbox">
                    12 <br /> May
                  </div>
                  <h3>
                    Beauty & Personal Care
                  <br />
                  <small>Transaction ID: #343545</small>
                  </h3>
                </div>

                <div class="catright">
                  <h3>
                    $40.00
                    <br />
                    <small>Active</small>
                  </h3>
                </div>
              </div>
            </li>
          </ul>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
