<ion-header>
  <ion-toolbar class="productHeader">
    <ion-buttons slot="start">
      <ion-button routerLink="/login">
        <img src="assets/images/leftarrow.png" class="backbtn" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p15 mt45">
    <div class="ion-text-center">
      <img src="assets/images/logo.png" alt="" />
    </div>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col class="ion-text-center">
          <h1>Reset Password</h1>
          <p>Enter your new password to reset it!!.</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-text-center">
          <form [formGroup]="resetForm">
            <ion-list lines="none">
              <div class="labeltxt">NEW PASSWORD</div>
              <ion-item lines="none" class="ion-no-padding">
                <ion-input type="password"  clearOnEdit="false" (keyup)="comparePassword()" placeholder="Enter your new password" formControlName="password"  name="password" autocapitalize="off" required>
                  <img src="assets/images/padlock.png" alt="" />
                </ion-input>
              </ion-item>
              <p class="error" *ngIf="isControlHasError('password','required')">
                Please enter new password.</p>
                <p class="error" *ngIf="isControlHasError('password','pattern')">
                  Password must contains 5 alphanumeric characters( atleast 1 letter and 1 number ).</p>
            </ion-list>

            <ion-list lines="none">
              <div class="labeltxt">CONFIRM NEW PASSWORD</div>
              <ion-item lines="none" class="ion-no-padding">
                <ion-input type="password"  clearOnEdit="false" (keyup)="comparePassword()" formControlName="confirmpassword"  placeholder="Enter your confirm password" name="cpassword" autocapitalize="off" required>
                  <img src="assets/images/padlock.png" alt="" />
                </ion-input>
              </ion-item>
              <p
              class="error"
              *ngIf="resetForm.get('confirmpassword').hasError('required') && resetForm.get('confirmpassword').touched"
            >
              Please enter Confirm Password.
            </p>
        
          <p class="error" *ngIf="resetForm.controls.confirmpassword.touched && resetForm.hasError('mismatchedPasswords') && resetForm.controls.password.valid">New password and Confirm password didn't match.</p>

            </ion-list>

            <ion-button shape="round" class="round" (click)="resetpas()" color="secondary" type="submit" expand="full">Reset Password</ion-button>
            <br />
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
