h1{
  font-weight: 700;
  font-size: 18px;
  margin-top: 10px;
}

p{
  margin-top: 0px;
  color: #B5B4B4;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 45px;
}

ion-item {
  --ion-safe-area-right: 0;
}

ion-item {
  margin-bottom: 20px;
}

.termCondition
{
  ion-item{
    margin-bottom: 10px;
  }
  ion-label{
    font-size: 15px;
    font-weight: 400;
  }

  ion-checkbox{
    --border-radius: 0;
    --border-width: 2px;
    --size: 19px;
    margin-right: 5px;
  }
  a{
    font-size: 12px;
  }
}
ion-list
{
padding:0px;
}
/*
.mt45
{
  margin-top: 25px;
}*/

.ion-flex{
  display: flex;
  align-items: center;
  ion-label{
    font-weight: 400;
    font-size: 14px;
  }
}

@media (max-width:380px)
{
  .mt45{
    margin-top: 0;
  }

  p {
    margin-top: 0px;
    color: #B5B4B4;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 23px;
  }
}
