<ion-header>
  <ion-toolbar class="productHeader">
    <ion-buttons slot="start">
      <ion-button routerLink="/login">
        <img src="assets/images/leftarrow.png" class="backbtn" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p15 mt45">
    <div class="ion-text-center">
      <img src="assets/images/logo.png" alt="" />
    </div>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col class="ion-text-center">
          <h1>Forgot Password</h1>
          <p>Please, enter your email address. You will receive a link to create a new password via email.</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-text-center">
          <form [formGroup]="loginForm">
            <ion-list lines="none">
              <div class="labeltxt">EMAIL ADDRESS</div>
              <ion-item lines="none" class="ion-no-padding">
                <ion-input type="email" formControlName="email" placeholder="Enter your email address" name="email" autocapitalize="off" required>
                  <img src="assets/images/email.png" alt="" />
                </ion-input>
              </ion-item>
            </ion-list>
            <div class="error-message" *ngIf="isControlHasError('email','required')">
              <p class="fs-11 mgt-5 txt-light">Please enter email address.</p>
            </div>
            <div class="error-message" *ngIf="isControlHasError('email','pattern')">
              <p class="fs-11 mgt-5 txt-light">Please enter valid email address.</p>
            </div>

            <ion-button shape="round" class="round" (click)="forgot()" color="secondary" type="submit" expand="full">SEND</ion-button>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
