h1{
  font-weight: 700;
  font-size: 18px;
  margin-top: 0;
}

p{
  margin-top: 0px;
  color: #B5B4B4;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 20px;
}
.images{
  width:100%;
  border: 1px solid grey;
  border-radius: 2px !important;
  margin: 5px;
  padding: 5px;

  p{
    float: left;
  }
  span{
    float: right;
  }
}
.cat-val{
  border: 1px solid #af241e;
  background-color: #af241e;
  color: wheat;
  margin: 2px;
  padding: 6px;
  width: 172px;
  border-radius: 27px;
}
ion-item {
  --ion-safe-area-right: 0;
}

ion-item {
  margin-bottom: 20px;
}

.termCondition
{
  ion-item{
    margin-bottom: 10px;
  }
  ion-label{
    font-size: 12px;
    font-weight: 400;
  }

  ion-checkbox{
    --border-radius: 0;
    --border-width: 2px;
    --size: 19px;
    margin-right: 5px;
  }

}
ion-list {
    padding: 0;
}

@media screen and (max-width:380px)
{


  .logintext {
    font-weight: 600;
    margin: 20px 0;
    font-size: 13px;
  }

  p{
    font-size: 13px;
  }

}
