ion-title{
  font-size: 18px;
}

h2{
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 22px;
}

.item-detail-icon
{
  display: none !important;
}


.mt45
{
  margin-top: 15px;
}

.fleximg
{
    display: flex;
    align-items: center;
    padding: 23px 15px;
    background: rgba(175, 36, 30, 0.05);
    img
    {
        height: 60px;
        width: 60px;
        border-radius: 100px;
        margin-right: 13px;
    }
    h3{
      color: rgba(0, 0, 0, 0.6);
      font-weight: 400;
      margin: 0;
      line-height: 20px;
      font-size: 18px;
    }
    p{
      color: #000;
      font-size: 12px;
      line-height: 20px;
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 0;
    }

}

ion-input {
  height: 47px;
  --padding-start: 16px !important;
  input {
    font-size: 15px !important;
  }
}

ion-list {
  margin-bottom: 15px;
  p{
    margin: 0;
    background: rgba(196, 196, 196, 0.1);
    padding: 14px 25px;
    width: 100%;
    border-radius: 100px;
    font-size: 15px;
  }
}
